In [9]:
import pandas as pd
path = '/workspaces/codespaces-jupyter/data/preprocessed/'

df_meteorshowers = pd.read_csv(path+'meteorshowers_preprocessed.csv', parse_dates=['startdate','enddate'])
df_constellations = pd.read_csv(path+'constellations_preprocessed.csv')
df_moonphases = pd.read_csv(path+'moonphases_preprocessed.csv', parse_dates=['date'])
df_cities = pd.read_csv('/workspaces/codespaces-jupyter/data/cities.csv')

display(df_meteorshowers.head(2))
display(df_cities.head(2))
display(df_constellations.head(2))
display(df_moonphases.head(2))

display(df_meteorshowers.info())
display(df_constellations.info())
display(df_moonphases.info())
display(df_cities.info())

,name,radiant,bestmonth,startmonth,startday,endmonth,endday,hemisphere,preferredhemisphere,startdate,enddate
0,Lyrids,Lyra,4,4,21,4,22,northern,northern,2020-04-21,2020-04-22
1,Eta Aquarids,Aquarius,5,4,19,5,28,"northern, southern",southern,2020-04-19,2020-05-28

        city  latitude               country
0  Abu Dhabi     24.47  United Arab Emirates
1      Abuja      9.07               Nigeria

  constellation  bestmonth  latitudestart  latitudeend hemisphere
0          Lyra          8             90          -40   northern
1      Aquarius         10             65          -90   southern

        date  percentage
0 2020-01-01         0.0
1 2020-01-02         0.5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5 non-null      object
 1   radiant              5 non-null      object
 2   bestmonth            5 non-null      int64
 3   startmonth           5 non-null      int64
 4   startday             5 non-null      int64
 5   endmonth             5 non-null      int64
 6   endday               5 non-null      int64
 7   hemisphere           5 non-null      object
 8   preferredhemisphere  5 non-null      object
 9   startdate            5 non-null      datetime64[ns]
 10  enddate              5 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int64(5), object(4)
memory usage: 568.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   constellation  5 non-null      object
 1   bestmonth      5 non-null      int64
 2   latitudestart  5 non-null      int64
 3   latitudeend    5 non-null      int64
 4   hemisphere     5 non-null      object
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        366 non-null    datetime64[ns]
 1   percentage  366 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 5.8 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      256 non-null    object
 1   latitude  256 non-null    float64
 2   country   256 non-null    object
dtypes: float64(1), object(2)
memory usage: 6.1+ KB

None

In [19]:
cond1 = df_meteorshowers['bestmonth']==5
df_meteorshowers.loc[cond1,['startdate','enddate']]

   startdate    enddate
1 2020-04-19 2020-05-28

In [20]:
cond1 = df_constellations['latitudestart']>=37
cond2 = df_constellations['latitudeend']<=37

df_constellations.loc[cond1&cond2]

  constellation  bestmonth  latitudestart  latitudeend hemisphere
0          Lyra          8             90          -40   northern
1      Aquarius         10             65          -90   southern
2         Orion          1             85          -75   northern
3       Perseus         12             90          -35   northern

In [23]:
# 서울의 위도 찾기
city_name = 'Seoul'

cond = df_cities['city']==city_name
df_cities.loc[cond,'latitude'].iloc[0]

37.55

In [27]:
def meteorshowers_bestdate(city_name):
    cond = df_cities['city']==city_name
    latitude = df_cities.loc[cond,'latitude'].iloc[0]
    return latitude
 
meteorshowers_bestdate('Seoul')

37.55